body{
    background-image: url('./images/wow_shadowland_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

p{
    margin-left: 5%;
    font-size: 1.2em;
}

h1{
    text-align: center;
}